/* FILE: wp-reading-list-admin-style.css
*DESCRIPTION: Admin styling
*/

.faded{color:grey;}
label {vertical-align:baseline!important;padding-left:5px;}
input[type="checkbox"] {float:left;margin:6px 5px 0 0;}
select {width: 65px;}
input[type="text"] {border-color:#CCCCCC #CCCCCC #B8B8B8 #B8B8B8!important;}
#wprl-options-list-size{float:left;margin-right:5px;}
#wprl-options-grid-height {background-color:#B8B8B8!important;}