/*FILE: single-style.css
*DESCRIPTION: Stylesheet for a single post
*/
/*Modified snippet of Eric Meyer's reset css http://meyerweb.com/eric/tools/css/reset/ */
#content div, #content span, #content h1, #content h2, #content h3, #content  p, #content a, #content img, #content article, #content header, #content table, #content td, #content tr, #content tbody{
	margin: 0!important;
	padding: 0!important;
	border: 0!important;
	vertical-align: baseline!important;
}
/* HTML5 display-role reset for older browsers */
#content article, #content header {display: block!important;}
/*End reset*/
#content article {word-wrap:break-word;}
#content .wp-post-image {max-width:none!important;}
#content #post-thumbnail {float: right !important;vertical-align: text-top!important;margin-left: 10px!important;}
#content .entry-meta {border-bottom-style:solid none!important;border-width:1px!important;border-color:#E6E6E6!important;margin-bottom:20px!important;}
#content #entry-header {margin: 0.75em 0 0!important;}
#content #single-title {margin-bottom:10px!important;display:inline-block!important;}
#content .metaspan {margin-right:20px!important;}