/*FILE: list-style.css
*DESCRIPTION: Stylesheet for the list layout
*/
/*Modified snippet of Eric Meyer's reset css http://meyerweb.com/eric/tools/css/reset/ */
#content div, #content span, #content h1, #content h2, #content h3, #content  p, #content a, #content img, #content article, #content header, #content table, #content td, #content tr, #content tbody, #content{
	margin: 0!important;
	padding: 0!important;
	border: 0!important;
	vertical-align: baseline!important;
}
/* HTML5 display-role reset for older browsers */
#content article, #content header {display: block!important;}
/*End reset*/
#content .entry-meta {display:inline-block!important;width: auto!important;vertical-align:text-bottom!important;margin:0 0 20px 10px!important;}
#content .entry-meta p {margin-bottom:0!important;}
#content article {word-wrap:break-word;}
#content .wp-post-image {max-width:none!important;}
#content .meta-header {vertical-align:top!important;}
#content h1.entry-header {margin: 0.75em 0 20px!important;}
#content .entry-title {max-width:none!important;margin: 0.75em 0 20px!important;}
#content td span{margin-right:25px!important;margin-bottom:15px!important;}
#content .screen-reader-text {visibility:hidden!important;}
#content .entry-title {font-size:200%;font-weight:bold;}
#primary, .site-content, #content .entry-content {width:100%!important;}
#content .wprl-book-links.nav-links {font-size:125%;font-weight:bold;margin-bottom:1em!important;}